[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}